<% include ./partials/_head %>

<body>
    <h1>Small homepage for fun - <%= user.fullname %></h1>
    <h2>Login form !</h2>
    <form action="/login" method="POST">
        <!-- <input type="text" name="userId" placeholder="Enter your user id."> -->
        <input type="text" name="username" placeholder="Enter your username">
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit">Log in</button>
    </form>
    <h2>Register form !</h2>
    <form action="/register" method="POST">
        <!-- <input type="text" name="userId" placeholder="Enter your user id."> -->
        <input type="text" name="username" placeholder="Enter your username">
        <input type="text" name="fullname" placeholder="Enter your fullname">
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit">Register</button>
    </form>
</body>
</html>